body {
	font-size: 16px;
	color: #F5F5F5;
	background-color: #2E4053;
	font-family: Candara;
	width: 100%;
 }

 /**HEADER**/
 #header-nav {
 	background-color: #EDBB99;
 }
 header {
 	border: 0;
 	border-radius: 0;
 }

h1 {
 	margin: 0;
 	padding: 0;
 	text-align: center;
 	font-style: italic;
 	font-size: 1.5em;
 	color: grey bold;
 }

 .navbar-toggle {
 	position: absolute;
 	right: 0;
 }

 header {
 	position: relative;
 }
.visible-xs {
	font-size: 20px;
	color: #F5F5F5;
}

#nav-list a {
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

h2 {
	color: #F2F4F4;
}

#main {
	margin: 10px;
	color: grey;
}

.valgis {
	position: relative;
	margin-top: 10px;
	padding-top: 30px;
	background-color:#D6EAF8; 
}

.pavadinimas {
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
	font-size: 1.8em;
	font-style: bold;
}

.tekstas {
	padding: 10px;
}

@media (max-width: 768px) {
  .valgis {
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
  }}

#mynav {
	font-size: 16px bold;
}

#sarasas a {
  color: #943126 bold;
  font-size: 16px;
  background-color: white;
  text-align: center;
}
#sarasas a:hover {
  background: #E7E7E7;
}
#sarasas a span {
  font-size: 1.8em;
}
